<!DOCTYPE html>
<html lang="en">
<head>
  <title>File Uploads</title>
</head>
<body>
  <div class=lisr>
    <ul>
    {% for file in files %}
      <li>
        {{ file }}<br>
        <audio controls src="../static/{{ file }}" type="audio/flac"></audio>
      </li>
      <!-- Your browser does not support the audio element. -->
    {% endfor %}
    </ul>
  </div>

  <div>
    <form action="/upload" method=Post enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="Upload">
    </form>
  </div>
</body>
</html>
